.wrapper
  =render "shared/side_bar"

  .right-contents
    .group-name
      .group-name__box
        %p.group-name__box__name
          = @group.name
        %ul.group-name__box__member
          Member：
          - @group.group_users.each do |group_user|
            %li
              = group_user.user.name

      = link_to edit_group_path(@group) do
        .group-name__edit
          edit
    .message-list
      = render @messages

    .form
      = form_for [@group, @message], id: "new_message" do |f|
        .form__box
          .form__box__input-box
            = f.text_field :text, placeholder: 'type a message', class: 'form__box__input-box--input'
            = f.label :image, class: 'upload-label' do
              = fa_icon 'picture-o'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__box__send-btn'

